{% extends "index.html" %} {% block title %}Feauters{% endblock %}


{% block contentC %}
<br>
<div class="container">
    <div class="heading-text">
    <h1 class="text-dark text-center">Feauters Page of website</h1>
    <div class="hr-1">
<center>    
        <hr>
 
    </center>
</div>
    <p class="text-center ">Best website of programing language or coding course!</p>
</div>
</div>
<br>

</button>


<div class="container">
<section class="code-slider">
    <div class="slider-3 owl-theme owl-carousel">

        <div><button type="button" class="js-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="language-logo" src="../static/images/html_logo.png" alt=""></button></div>
        <div><button type="button" class="js-btn" data-bs-toggle="modal" data-bs-target="#gabim"><img class="language-logo" src="../static/images/java_logo.png" alt=""></button></div>
        <div><button type="button" class="js-btn" data-bs-toggle="modal" data-bs-target="#plera"><img class="language-logo" src="../static/images/js_logo.jpg" alt=""></button></div>
        <div><button type="button" class="js-btn" data-bs-toggle="modal" data-bs-target="#budalliqe"><img class="language-logo" src="../static/images/logo_pyhon.png" alt=""></button></div>
        <div><button type="button" class="js-btn" data-bs-toggle="modal" data-bs-target="#shkolla-iku"><img class="language-logo" src="../static/images/node_js_logo.webp" alt=""></button></div>
        <div><button type="button" class="js-btn" data-bs-toggle="modal" data-bs-target="#tu-kseris"><img class="language-logo" src="../static/images/php_logo.png" alt=""></button></div>
     
    </div>
</section>
</div>


<!-- Button trigger modal -->

 
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="gabim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">gabim eee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="plera" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Plera</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="budalliqe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">tu kseris</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shkolla-iku" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">iku shkolla</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="gabim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">babi kot fr</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="tu-kseris" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
        <p class="text-muted">babi im e ka gabim se eshte kunder lojrave, se di pse , po me ka zen hall i madh</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>


<div class="container">
  <div class="heading-text">
    <h1 class="text-center text-dark">Check Out the priciing</h1>
    <center>
      <hr class="h4">
    </center>
  
  <p class="text-center">You can choose beetwin standart pricing courses to the most advanced!</p>
</div>
</div>

<br>
<br>


<div class="container">
  
  
  <section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
              <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
  
  
              <center>
              <a href="#" class="btn btn-block btn-primary text-uppercase text-center">Get started</a>
            </center>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
              <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
              </ul>
              <center>
                <a href="#" class="btn btn-block btn-primary text-uppercase text-center">Get started</a>
              </center>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
              <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
              </ul>
              <center>
                <a href="#" class="btn btn-block btn-primary text-uppercase text-center">Get started</a>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

<br>
<br>
<br>

<div class="container">
  <div class="heading-text">
    <h1 class="text-center">What our clients say</h1>
    <center>
      <hr class="h4">
      <p class="text-center">This what u  see is real feedback fool</p>
    </center>
  </div>
</div>

<br>
<br>



<div class="container carousel py-lg-5">
  <div class="aqifi-slider owl-carousel owl-theme">
      <div class="client row">
          <div class="col-lg-4 col-md-12 client-img">
              <img src="../static/images/t1.jpg" alt="img1" class="img-fluid">
          </div>
          <div class="col-lg-8 col-md-12 about-client">
              <h4 class="text-uppercase">John Martin</h4>
              <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                  consequuntur ratione, obcaecati corrupti deserunt.</p>
          </div>
      </div>
      <div class="client row">
          <div class="col-lg-4 col-md-12 client-img">
              <img src="../static/images/t1.jpg" alt="img2" class="img-fluid">
          </div>
          <div class="col-lg-8 col-md-12 about-client">
              <h4 class="text-uppercase">Mac Hill</h4>
              <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                  consequuntur ratione, obcaecati corrupti deserunt.</p>
          </div>
      </div>
      <div class="client row">
          <div class="col-lg-4 col-md-12 client-img">
              <img src="../static/images/t2.jpg" alt="img1" class="img-fluid">
          </div>
          <div class="col-lg-8 col-md-12 about-client">
              <h4 class="text-uppercase">John Martin</h4>
              <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                  consequuntur ratione, obcaecati corrupti deserunt.</p>
          </div>
      </div>
      <div class="client row">
          <div class="col-lg-4 col-md-12 client-img">
              <img src="../static/images/t2.jpg" alt="img2" class="img-fluid">
          </div>
          <div class="col-lg-8 col-md-12 about-client">
              <h4 class="text-uppercase">Mac Hill</h4>
              <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                  consequuntur ratione, obcaecati corrupti deserunt.</p>
          </div>
      </div>
      <div class="client row">
          <div class="col-lg-4 col-md-12 client-img">
              <img src="../static/images/t1.jpg" alt="img1" class="img-fluid">
          </div>
          <div class="col-lg-8 col-md-12 about-client">
              <h4 class="text-uppercase">John Martin</h4>
              <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                  consequuntur ratione, obcaecati corrupti deserunt.</p>
          </div>
      </div>
      <div class="client row">
          <div class="col-lg-4 col-md-12 client-img">
              <img src="../static/images/t1.jpg" alt="img2" class="img-fluid">
          </div>
          <div class="col-lg-8 col-md-12 about-client">
              <h4 class="text-uppercase">Mac Hill</h4>
              <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem architecto
                  consequuntur ratione, obcaecati corrupti deserunt.</p>
          </div>
      </div>
  </div>
</div>
</section>
</div>

<!--- Footer -->

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a style="border-radius: 50px;" class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a style="border-radius: 50px;" class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a style="border-radius: 50px;" class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a  style="border-radius: 50px;"class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a style="border-radius: 50px;" class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a style="border-radius: 50px;" class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Adriel Kotorri</a>
  </div>
  <!-- Copyright -->
</footer>


{% endblock %}
